
.addressClass{
    color: aliceblue;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem !important;
    font-weight: 400 !important; 
     /* background: white; */
     /* padding: 0.3rem; */
     /* border-radius: 5%;    */
}

.navbar-header-scheme{
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
}

.balanceClass{
    color: aliceblue;
    margin-left: 3rem;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem !important;
    font-weight: 400 !important;   
}

.pointerCursor:hover{
    cursor: pointer;
}

.myCOntractClass{
    margin-left: 3rem;
}

.navMargin{
    margin-left: 1rem;
}

.btn-schema{
    background: #00C4F4 !important;
}

.navbar-schema{
    background: #030B15;
    border-bottom: 3px solid rgb(255 255 255 / 10%);
}