
.addressClass{
    color: aliceblue;
     /* background: white; */
     /* padding: 0.3rem; */
     /* border-radius: 5%;    */
}

.balanceClass{
    color: aliceblue;
    margin-left: 3rem;
}

.pointerCursor:hover{
    cursor: pointer;
}

.myCOntractClass{
    margin-left: 3rem;
}